// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
//$background-color: #fb9618;
$background-color:   #bb8fce;
$title-color:       rgba(1, 1, 0, 0.7);
$moreinfo-color:    rgba(1, 1, 0, 0.3);

// ----------------------------------------------------------------------------
// Widget-GoogleGauge styles
// ----------------------------------------------------------------------------
.widget-google-pie {

  background-color: $background-color;
  position: relative;

  .title {
    color: $title-color;
    position: absolute;
    top: 5px;
    left: 0px;
    right: 0px;
    font-size: 20px;
  }

  .chart {
    position: absolute;
    left: 0px;
    top: 0px;
  }

}
