// Sass declarations
// ------------------------------------------------------------
$background-color:  #12b0c5;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ------------------------------------------------------------
// Widget-list styles
// ------------------------------------------------------------
.widget-menu {

  background-color: $background-color;
  vertical-align: top;

  .title {
    color: $title-color;
  }

  ol, ul {
    margin: 0 35px;
    text-align: left;
    color: $label-color;
  }

  ol {
    list-style-position: inside;
  }

  li {
    margin-bottom: 15px;
  }

  .list-nostyle {
    list-style: none;
  }

  .label {
    color: $label-color;
  }

  .value {
    float: right;
    margin-left: 20px;
    font-weight: 600;
    color: $value-color;
  }

 .value-warning {
    float: right;
    margin-left: 12px;
    font-weight: 600;
    color: #e9ab17;
  }

  .value-error {
    float: right;
    margin-left: 12px;
    font-weight: 600;
    color: #d26771;
  }

  .value-ok {
    float: right;
    margin-left: 20px;
    font-weight: 600;
    color: #00ff00;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  .more-info {
    color: $moreinfo-color;
  }

}
